.tile-container {
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #fff;
  }
  
  .tile-container > div {
    padding: 1.5em;
  }
  
  .tile-container .header {
    display: flex;
    justify-content: space-between;
  }
  
  .tile-container .header .left-section {
    width: 85%;
  }

  .tile-container .header .right-section {
    display: flex;
    align-items: flex-start;
  }
  
  .tile-container .header .right-section div {
    font-size: 12px;
    padding: 3px 12px;
    border: 1px solid #EBEDEF;
  }
  
  .tile-container .header .right-section .like-btn {
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .tile-container .header .right-section .like-btn:hover {
    background-color: #76b852;
    color: #fff;
    border-color: #D3D5D6;
    transition-duration: .1s;
  }
  
  .tile-container .header .right-section .like-btn:active {
    background-color: green;
  }
  
  .tile-container .header .right-section .like-cnt {
    font-weight: 600;
    vertical-align: middle;
    border-bottom-right-radius: 6px;
    border-left: 0;
    border-top-right-radius: 6px;
  }
  
  .tile-container .content {
    padding: 0 1.5em 1em 1.5em;
    border-bottom: 1px solid #EBEDEF;
  }

  
  .tile-container .footer {
    padding: 1em 1.5em;
  }
  
  .tile-container:hover {
    box-shadow: 4px 8px 10px 5px rgba(0,0,0,0.7);
    background: #f3f7f7;
  }
  
  .tile-container .header h2 {
    margin: 0;
  }
  
  .tile-container .header .profile {
    font-size: 11px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .tile-container .content > div:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .tile-container .created-date {
    font-size: 12px
  }
  
  .tile-container .tags div {
    text-decoration: none;
    background-color: #F1F8FF;
    border: 1px solid transparent;
    border-radius: 2em;
    color: #0366D6;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 10px;
    margin-right: 5px;
  }
  
  .tile-container .profile .name {
    color: #14171a;
    letter-spacing: .2px;
    font-weight: 500;
  }
  
  .tile-container .profile .name:hover {
    text-decoration: underline;
  }
  
  .tile-container .profile .avatar {
    margin-right: 5px;
  }
  
  .tile-container .header .avatar {
    width: 20px;
    height: 20px;
    background-color: #8e9eab;;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  
  .tile-container .header .avatar .initials {
    position: relative;
    top: 2px; /* 25% of parent */
    font-size: 8px; /* 50% of parent */
    line-height: 10px; /* 50% of parent */
    color: #fff;
    font-family: "Verdana";
    font-weight: bold;
  }