.create-modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.create-modal .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBEDEF;
    z-index: 1000;
    min-width: 50vw;
    min-height: 70vh;
}

.modal-wrapper .header {
    padding: 1.5em;
    background-color: #156B87;
    color: #fff;
}

.modal-wrapper .header h3 {
    margin: 0;
}

.modal-wrapper form {
    padding: 2em 3em;
}

.modal-wrapper #create-form .section {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    gap: 15px;
}

#create-form .section label {
    flex-basis: 11%;
}

#create-form .section textarea {
    flex-grow: 1;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.modal-wrapper .footer {
    display: flex;
    justify-content: flex-end;
}

.modal-wrapper .footer button {
    margin-right: 10px;
}
